.my_serif_text {
    font-family: serif;
}

.my_special_color {
    color:rgb(22, 162, 162) !important;
}

.my_background{
    background-color:rgb(22, 162, 162) !important;
}

.my_text_color{
    color:rgb(22, 162, 162) !important; 
}